body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0px 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

#players, #questions {
  padding: 1%;
  position: absolute;
  top: 40px;
  bottom: 20px;
}

#players {
  background-color: #D1EEEE;
  width: 18%;
}

#questions {
  width: 82%;
  left: 18%;
}

#header {
  height: 40px;
  background-color: #0084c9;
  color: white;
  text-shadow: black 0px 1px 0px;
  font-size: 1.3em;
  line-height: 40px;
  padding-left: 10px;
}

#header span.title {
  width: 80%;
}

#header button {
  position: absolute;
  right: 10px;
  margin: 5px 0;
  width: 140px;
}

#content {
  position: absolute;
  top: 40px;
  bottom: 20px;
  width: 100%;
  z-index: -1;
  background-color: #B4CDCD;
}

#clock {
  width: 140px;
  height: 200px;
  background: gray;
  position: absolute;
  right: 10px;
  top: 50px;
}

#footer {
  height: 20px;
  background-color: #0084c9;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  text-shadow: black 0px 1px 0px;
  font-size: 0.7em;
  line-height: 20px;
  padding-left: 10px;
  text-align: center;
}

#footer span {
  padding: 0 10px;
}
